# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.pssess
*.vsp
*.vspx
*.vs

# log files
*.log
*.tlog

*.lastbuildstate
*.obj
*.pch
*.unsuccessfulbuild
*.pdb
*.idb
*.exe
*.ilk
*.dll
*.exp
*.lib
*.recipe
